<h1>Add your question</h1>

<h3>Hiện tại đang có tất cả {{count}} câu hỏi</h3>

<form action="" method="POST">
    Question: <br>
    <textarea name="question" cols="30" rows="3"></textarea> <br> <br>

    correct answer: <br><input type="text" name="correct"> <br> <br>

    another answer: <br>
    <input type="text" name="wrong1"> <br> <br>
    <input type="text" name="wrong2"> <br> <br>
    <input type="text" name="wrong3"> <br> <br>

    <button>Submit</button>
</form>