<h1>Ai Là Triệu Phú Hardcore</h1>

<br>

<form action="/play/0" method="GET">
    Tên người chơi: <input id="name" type="text" placeholder="username here" name="username"> <br> <br>
    <button>Play</button>
</form> <br>
<a href="/rank">Bảng xếp hạng</a> <br> <br>
<button onclick="alert('Người chơi sẽ tham gia trả lời tất cả 15 câu hỏi trắc nghiệm từ dễ đến khó do chương trình đưa ra. Người chơi không bị giới hạn thời gian suy nghĩ trả lời. Mỗi câu hỏi đều được gắn với một mức tiền thưởng quy định. Người chơi cần phải vượt qua 3 mốc quan trọng là câu số 5 (mốc quan trọng thứ nhất), câu số 10 (mốc quan trọng thứ hai) và câu số 15 (mốc TRIỆU PHÚ) mà khi vượt qua các mốc này, họ chắc chắn có được số tiền thưởng tương ứng của các câu hỏi đó.')">Luật chơi</button>


